@import "tailwindcss";
@theme {
    --breakpoint-mb: 510px;
    --breakpoint-tablet: 960px;
    --breakpoint-laptop: 1200px;
}

@media (max-width:510px) {
    .view {
        display: block;
    }

    .none {
        display: none;
    }
}